* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  background: #b0e0e6;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 60%;
}

iframe{
  width:550px;
  height:350px;
}

mark{
  background-color: #b0e0e6;
  color: black;
}
/* Table Properties */
table,th,td {
  border: 1px solid black;
  text-align: center;
}


/* Right column */
.rightcolumn {
  float: left;
  width: 40%;
  padding-left: 20px;
}

/* Image Properties */
img{
  border-radius: 50%;
}

/* Form Values */
/* Select Class */
select { 
  width: 75%; 
  margin-bottom: 10px; 
  background: #fff;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #092756;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

/* Input Class */
input { 
  width: 75%; 
  margin-bottom: 10px; 
  background: #fff;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: black;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
}

/* Button Class */
button{
  width: 50%; 
  margin-bottom: 10px; 
  background: #b0e0e6;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #092756;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 1px;
  text-align: center;
  background: #b0e0e6;
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}